body {
  font-family: 'Arial Black', sans-serif;
  text-align: left;
  background: cornsilk;
  margin: 0;
  padding: 0;
}

.article {
  max-width: 680px;
  padding: 24px;
  margin: 0 auto;
  font-family: sans-serif;
}

.article__heading {
  margin: 0 0 1.5rem 0;
  color: palevioletred;
}

.article__lead {
  font-weight: 700;
  font-style: italic;
  font-family: serif;
  text-transform: uppercase;
}

.figure__caption {
  text-align: center;
  font-style: italic;
  margin: 8px 0 0;
}

.article__figure {
  margin-left: 0;
}
